.project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
}

.project-preview img {
    border: 4px solid hsl(210, 35%, 35%);
    border-radius: 1rem;
    height: 300px;
    flex: 1 1 0;
    opacity: 0.8;
}

@media (hover: hover) and (pointer: fine) {
    .project-preview img:hover {
        cursor: pointer;
        border: 4px solid hsl(210, 40%, 40%);
        opacity: 1;
    }
}