.project-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    max-width: 420px;
}

.project-preview a {
    border: 4px solid transparent;
    border-radius: 1rem;
    height: 300px;
    flex: 1 1 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-preview a img {
    border-radius: 1rem;
    height: 100%;
    flex: 1 0 auto;
}

@media (hover: hover) and (pointer: fine) {
    .project-preview a:hover {
        cursor: pointer;
        border: 4px solid white;
        opacity: 1;
    }
}