.project-card-container {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card {
    background-color: white;
    border: 8px solid hsl(210, 35%, 35%);
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: hsl(210, 35%, 35%);
    position: relative;
}

.project-card h3 {
    background-color: hsl(210, 35%, 35%);
    color: white;
    width: 60%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    padding: 8px 0;
}

.project-card span {
    position: absolute;
    right: 0;
    margin: 0.8rem 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
}

.project-card-middle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 55%;
    padding: 1rem 0;
}

.project-links, .project-skills {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-middle .project-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-card-middle .project-links a {
    text-decoration: none;
    width: 80%;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
}

.project-links .project-link {
    background-color: white;
    border: 1px solid hsl(210, 35%, 35%);
    color: hsl(210, 35%, 35%);
}

.project-links .project-github {
    background-color: hsl(210, 35%, 35%);
    border: 1px solid transparent;
    color: white;
}

.project-card-middle img {
    height: 100%;
    box-shadow: 0 0 1rem hsl(0, 0%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-skills {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 2px;
}

.project-skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-skills .skill h4 {
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 12px;
}

.project-card p {
    padding: 0 0 3rem;
}

@media (hover: hover) and (pointer: fine) {
    .project-card span:hover {
        cursor: pointer;
    }
}