.skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill h4 {
    background-color: hsl(210, 35%, 35%);
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}