.card {
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.front-card, .back-card {
    background-color: hsl(210, 35%, 35%);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
}

.front-card ul, .back-card ul {
    padding: 0 12px;
}

.back-card li {
    padding: 8px 0;
    font-size: 1.2em;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        cursor: pointer;
    }

    .front-card:hover, .back-card:hover {
        background-color: hsl(210, 40%, 40%);
    }
}