.App {
    width: 100vw;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.25em;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

p {
    font-size: 1.4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header.active {
    background-color: hsl(0, 0%, 100%);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.8);
}

#home {
    padding: 2rem;
    font-size: 2rem;
}

header.active #home {
    color: black;
}

nav {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

header.active nav a {
    color: black;
}

.main-section {
    font-size: 16px;
    display: flex;
    padding: 7rem 0;
}

#intro {
    background-image: url('./resources/blue\ background\ with\ crack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(210, 35%, 35%);
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0;
}

.name {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: end;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.name h1 {
    margin: 0.5rem 0 3rem 0;
}

.name div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5rem;
}

.name div h4 {
    padding-top: 0.5rem;
}

.tech-skills {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#about {
    justify-content: space-between;
    align-items: center;
}

.about-text {
    background-color: hsl(210, 35%, 35%);
    color: white;
    width: 30%;
    padding: 4rem 3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.about-text h2 {
    padding-bottom: 4rem;
}

.about-text p {
    padding: 0.5rem 0;
}

#fact-cards {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#projects {
    flex-direction: column;
    align-items: end;
}

#projects h2 {
    position: relative;
    right: 2rem;
}

.my-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 3rem;
}

#cv {
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(210, 35%, 35%);
    color: white;
}

.cv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 2rem;
}

.cv-text a {
    background-color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: hsl(210, 35%, 35%);
}

.cv-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    box-shadow: 0 0 1rem rgb(128, 128, 128);
}

.cv-preview img {
    height: 100%;
}